## Importing libraries

In [36]:
import pandas as pd
from functools import reduce

## Merging data

In [44]:
# There are 12 months worth of data each saved in seperate CSV files which we want to merge and view
df1 = pd.read_csv("crime_data_2019/2019-01-west-midlands-street.csv")
df2 = pd.read_csv("crime_data_2019/2019-02-west-midlands-street.csv")
df3 = pd.read_csv("crime_data_2019/2019-03-west-midlands-street.csv")
df4 = pd.read_csv("crime_data_2019/2019-04-west-midlands-street.csv")
df5 = pd.read_csv("crime_data_2019/2019-05-west-midlands-street.csv")
df6 = pd.read_csv("crime_data_2019/2019-06-west-midlands-street.csv")
df7 = pd.read_csv("crime_data_2019/2019-07-west-midlands-street.csv")
df8 = pd.read_csv("crime_data_2019/2019-08-west-midlands-street.csv")
df9 = pd.read_csv("crime_data_2019/2019-09-west-midlands-street.csv")
df10 = pd.read_csv("crime_data_2019/2019-10-west-midlands-street.csv")
df11 = pd.read_csv("crime_data_2019/2019-11-west-midlands-street.csv")
df12 = pd.read_csv("crime_data_2019/2019-12-west-midlands-street.csv")

df_to_merge = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12]

crime_2019_df = reduce(lambda  left,right: pd.merge(left,right, how='outer'), df_to_merge)

crime_2019_df.head()

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,b0854078f33cc4e2ecd7353c40d3a03120063e7d39134b...,2019-01,West Midlands Police,West Midlands Police,-1.850519,52.589275,On or near Crown Lane,E01009417,Birmingham 001A,Burglary,Investigation complete; no suspect identified,NaN
1,b48f19d1ca24bd7e1ef53952c1472314c1af57240df6d5...,2019-01,West Midlands Police,West Midlands Police,-1.850056,52.591108,On or near Walsall Road,E01009417,Birmingham 001A,Other theft,Investigation complete; no suspect identified,NaN
2,2ea61ee241faeac03c5595efc0e3d838d79f20f5831f24...,2019-01,West Midlands Police,West Midlands Police,-1.850772,52.588691,On or near Seymour Gardens,E01009417,Birmingham 001A,Public order,Investigation complete; no suspect identified,NaN
3,NaN,2019-01,West Midlands Police,West Midlands Police,-1.845780,52.593827,On or near Hook Drive,E01009418,Birmingham 001B,Anti-social behaviour,NaN,NaN
4,3d7dc73ef7f87bca14fd77c816c6cfc112cefe91f39d3e...,2019-01,West Midlands Police,West Midlands Police,-1.841944,52.597265,On or near Chelsea Drive,E01009418,Birmingham 001B,Vehicle crime,Investigation complete; no suspect identified,NaN

## Cleaning data

Viewing shape and contents of data

In [43]:
# Check data has been merged correctly by viewing shape of data
crime_2019_df.shape

(296172, 12)

In [45]:
crime_2019_df.columns

Index(['Crime ID', 'Month', 'Reported by', 'Falls within', 'Longitude',
       'Latitude', 'Location', 'LSOA code', 'LSOA name', 'Crime type',
       'Last outcome category', 'Context'],
      dtype='object')

Checking missing values and duplicates

In [48]:
# Missing values
crime_2019_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296172 entries, 0 to 296171
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Crime ID               259683 non-null  object
 1   Month                  296172 non-null  object
 2   Reported by            296172 non-null  object
 3   Falls within           296172 non-null  object
 4   Longitude              296172 non-null  float64
 5   Latitude               296172 non-null  float64
 6   Location               296172 non-null  object
 7   LSOA code              296169 non-null  object
 8   LSOA name              296169 non-null  object
 9   Crime type             296172 non-null  object
 10  Last outcome category  259683 non-null  object
 11  Context                0 non-null       float64
dtypes: float64(3), object(9)
memory usage: 29.4+ MB

In [54]:
# Duplicated values 
crime_2019_df.duplicated()
boolean_series_of_duplicates = crime_2019_df.duplicated()
len(crime_2019_df.loc[boolean_series_of_duplicates, :])

8649

In [55]:
crime_2019_df.isnull().sum()

Crime ID                  36489
Month                         0
Reported by                   0
Falls within                  0
Longitude                     0
Latitude                      0
Location                      0
LSOA code                     3
LSOA name                     3
Crime type                    0
Last outcome category     36489
Context                  296172
dtype: int64

This shows that the 'context' column has no values and can be dropped. We also do not need the 'Reported by', 'Falls within', and 'crime ID' and decided to use a numbered index instead.

In [66]:
# Drop columns 
clean_crime_2019 = crime_2019_df.drop(["Crime ID", "Reported by", "Falls within", "Context"], axis=1)

In [67]:
# Fill in missing 
clean_crime_2019["Last outcome category"] = clean_crime_2019["Last outcome category"].fillna('No outcome recorded')

In [76]:
# See clean DataFrame
clean_crime_2019.head()

,Month,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category
0,2019-01,-1.850519,52.589275,On or near Crown Lane,E01009417,Birmingham 001A,Burglary,Investigation complete; no suspect identified
1,2019-01,-1.850056,52.591108,On or near Walsall Road,E01009417,Birmingham 001A,Other theft,Investigation complete; no suspect identified
2,2019-01,-1.850772,52.588691,On or near Seymour Gardens,E01009417,Birmingham 001A,Public order,Investigation complete; no suspect identified
3,2019-01,-1.845780,52.593827,On or near Hook Drive,E01009418,Birmingham 001B,Anti-social behaviour,No outcome recorded
4,2019-01,-1.841944,52.597265,On or near Chelsea Drive,E01009418,Birmingham 001B,Vehicle crime,Investigation complete; no suspect identified

## Visualising the data

In [74]:
# Pivot table
pd.pivot_table(clean_crime_2019, columns="Crime type", aggfunc="count")

Crime type,Anti-social behaviour,Bicycle theft,Burglary,Criminal damage and arson,Drugs,Other crime,Other theft,Possession of weapons,Public order,Robbery,Shoplifting,Theft from the person,Vehicle crime,Violence and sexual offences
LSOA code,36489,2466,24994,24924,5643,4302,20755,3027,16954,8793,16362,3064,32437,95959
LSOA name,36489,2466,24994,24924,5643,4302,20755,3027,16954,8793,16362,3064,32437,95959
Last outcome category,36489,2466,24994,24925,5643,4302,20756,3027,16954,8793,16362,3064,32438,95959
Latitude,36489,2466,24994,24925,5643,4302,20756,3027,16954,8793,16362,3064,32438,95959
Location,36489,2466,24994,24925,5643,4302,20756,3027,16954,8793,16362,3064,32438,95959
Longitude,36489,2466,24994,24925,5643,4302,20756,3027,16954,8793,16362,3064,32438,95959
Month,36489,2466,24994,24925,5643,4302,20756,3027,16954,8793,16362,3064,32438,95959