In [21]:
#import the pandas library!
import pandas as pd

In [22]:
datafile = "heatmap_test/clean_2019_4.csv"

In [23]:
datafile_df = pd.read_csv(datafile, encoding="ISO-8859-1")

In [26]:
datafile_df.head(2)

,Crime ID,Crime type,Last outcome category,Month,Longitude,Latitude,Location,LSOA code,LSOA name,LONG__y,...,LSOA IMD Rank_y,LSOA Income Rank_y,District code (2019),District name (2019),Description,Population,Index of Multiple Deprivation (IMD),Income deprivation- Average score,Income deprivation - Rank of average score,Income - Rank of proportion of LSOAs in most deprived 10% nationally
0,b0854078f33cc4e2ecd7353c40d3a03120063e7d39134b...,Burglary,Investigation complete; no suspect identified,2019-01,-1.850519,52.589275,On or near Crown Lane,E01009417,Birmingham 001A,-1.84982,...,21433,18278,E08000025,Birmingham,Urban with Major Conurbation,1073045.0,7,0.222,7,5
1,b48f19d1ca24bd7e1ef53952c1472314c1af57240df6d5...,Other theft,Investigation complete; no suspect identified,2019-01,-1.850056,52.591108,On or near Walsall Road,E01009417,Birmingham 001A,-1.84982,...,21433,18278,E08000025,Birmingham,Urban with Major Conurbation,1073045.0,7,0.222,7,5

In [35]:
datafile_df["Crime type"].value_counts()

Violence and sexual offences    95776
Anti-social behaviour           36454
Vehicle crime                   32334
Burglary                        24945
Criminal damage and arson       24872
Other theft                     20692
Public order                    16925
Shoplifting                     16314
Robbery                          8772
Drugs                            5639
Other crime                      4297
Theft from the person            3052
Possession of weapons            3022
Bicycle theft                    2447
Name: Crime type, dtype: int64

In [42]:
#Total number of crimes per District
datafile_df["District name (2019)"].value_counts()

Birmingham       130172
Coventry          32957
Sandwell          32282
Wolverhampton     27921
Walsall           27862
Dudley            26491
Solihull          17856
Name: District name (2019), dtype: int64

In [50]:
# Created a new DataFrame that looks into a Birmingham
Birmingham_crime_df = datafile_df.loc[datafile_df["District name (2019)"] == "Birmingham"]
Birmingham_crime_df["Crime type"].value_counts()

Violence and sexual offences    42331
Anti-social behaviour           15800
Vehicle crime                   13428
Burglary                        10635
Criminal damage and arson       10305
Other theft                      9603
Public order                     7932
Shoplifting                      6196
Robbery                          4917
Drugs                            2885
Theft from the person            1856
Other crime                      1785
Possession of weapons            1446
Bicycle theft                    1053
Name: Crime type, dtype: int64

In [56]:
#Display income deprivation and IMD

Birmingham_IMD = datafile_df.loc[datafile_df["District name (2019)"] == "Birmingham"]
                    
Birmingham_IMD["Index of Multiple Deprivation (IMD)"].value_counts()

1     61720
2     19834
3     18466
4     13474
5      8013
7      3140
6      2952
8      1297
9       922
10      354
Name: Index of Multiple Deprivation (IMD), dtype: int64

In [52]:
Coventry_crime_df = datafile_df.loc[datafile_df["District name (2019)"] == "Coventry"]
Coventry_crime_df["Crime type"].value_counts()

Violence and sexual offences    9978
Anti-social behaviour           4568
Vehicle crime                   3949
Criminal damage and arson       2982
Burglary                        2841
Other theft                     2209
Shoplifting                     1826
Public order                    1594
Robbery                          920
Bicycle theft                    572
Drugs                            515
Other crime                      427
Possession of weapons            304
Theft from the person            272
Name: Crime type, dtype: int64

In [ ]:
#Display income deprivation and IMD

In [45]:
Sandwell_crime_df = datafile_df.loc[datafile_df["District name (2019)"] == "Sandwell"]
Sandwell_crime_df["Crime type"].value_counts()

Violence and sexual offences    10997
Anti-social behaviour            3796
Vehicle crime                    3318
Burglary                         2965
Criminal damage and arson        2813
Other theft                      2151
Shoplifting                      1832
Public order                     1823
Robbery                           794
Drugs                             700
Other crime                       471
Possession of weapons             278
Theft from the person             212
Bicycle theft                     132
Name: Crime type, dtype: int64

In [ ]:
#Display income deprivation and IMD

In [46]:
Wolverhampton_crime_df = datafile_df.loc[datafile_df["District name (2019)"] == "Wolverhampton"]
Wolverhampton_crime_df["Crime type"].value_counts()

Violence and sexual offences    9823
Anti-social behaviour           3079
Vehicle crime                   2984
Criminal damage and arson       2329
Burglary                        2059
Other theft                     1805
Shoplifting                     1768
Public order                    1708
Robbery                          555
Drugs                            545
Other crime                      499
Possession of weapons            269
Bicycle theft                    252
Theft from the person            246
Name: Crime type, dtype: int64

In [ ]:
#Display income deprivation and IMD

In [47]:
Walsall_crime_df = datafile_df.loc[datafile_df["District name (2019)"] == "Walsall"]
Walsall_crime_df["Crime type"].value_counts()

Violence and sexual offences    9032
Anti-social behaviour           3869
Vehicle crime                   3062
Criminal damage and arson       2706
Burglary                        2169
Other theft                     1721
Shoplifting                     1646
Public order                    1544
Robbery                          591
Other crime                      458
Drugs                            433
Possession of weapons            249
Bicycle theft                    198
Theft from the person            184
Name: Crime type, dtype: int64

In [ ]:
#Display income deprivation and IMD

In [48]:
Dudley_crime_df = datafile_df.loc[datafile_df["District name (2019)"] == "Dudley"]
Dudley_crime_df["Crime type"].value_counts()

Violence and sexual offences    8840
Anti-social behaviour           3253
Vehicle crime                   2997
Burglary                        2462
Criminal damage and arson       2419
Shoplifting                     1755
Other theft                     1589
Public order                    1421
Robbery                          535
Other crime                      409
Drugs                            339
Possession of weapons            247
Theft from the person            145
Bicycle theft                     80
Name: Crime type, dtype: int64

In [ ]:
#Display income deprivation and IMD

In [49]:
Solihull_crime_df = datafile_df.loc[datafile_df["District name (2019)"] == "Solihull"]
Solihull_crime_df["Crime type"].value_counts()

Violence and sexual offences    4775
Vehicle crime                   2596
Anti-social behaviour           2089
Burglary                        1814
Other theft                     1614
Criminal damage and arson       1318
Shoplifting                     1291
Public order                     903
Robbery                          460
Other crime                      248
Possession of weapons            229
Drugs                            222
Bicycle theft                    160
Theft from the person            137
Name: Crime type, dtype: int64

In [ ]:
#Display income deprivation and IMD

In [ ]:
#Plot the different crimes per city over the time period